.add-container {
  &__open-button {
    border-radius: 50%;
    box-sizing: border-box;
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 70px;
    height: 70px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 1;

    svg {
      fill: white;
    }
  }
}

.modal {
  &__close-icon {
    width: 25px;
    margin: 10px 10px 0 0;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    // overflow: hidden;
    z-index: 1;
  }

  &__content {
    background: white;
    width: 600px;
    animation: show-up 1s;
    margin: 100px auto 0 auto;
    border: 1px solid var(--border-color);
    box-shadow: var(--theme-shadow);
    border-radius: 10px;
    animation: show-up 0.3s ease;
    @keyframes show-up {
      from {
        transform: translateY(100vh);
      }

      to {
        transform: none;
      }
    }

    .form {
      display: flex;
      width: 350px;
      flex-direction: column;
      gap: 40px;
      padding: 40px;
      margin: auto;

      &__label {
        display: block;
      }

      &__input {
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: 1px var(--border-color) solid;
        font-size: 1rem;
      }

      input[type="radio"] {
        appearance: none;
      }

      button[type="submit"] {
        margin: auto;
        padding: 10px;
        width: max-content;
        color: white;
        border-radius: 5px;
        font-size: 1.2rem;
      }

      .type-container {
        font-size: 1.1rem;
        width: max-content;
        margin: auto;
        user-select: none;

        label {
          border: 1px solid grey;
          padding: 5px 10px;
          transition: all 0.2s;
          cursor: pointer;
        }

        label:first-child {
          border-radius: 5px 0 0 5px;
          border-right: 0;

          &:has(input[type="radio"]:checked) {
            color: white;
            background-color: #079a80;
          }
        }

        label:last-child {
          border-radius: 0 5px 5px 0;
          &:has(input[type="radio"]:checked) {
            color: white;
            background-color: #f23645;
          }
        }

        input {
          margin: 0;
        }
      }
    }
  }
}
