:root {
  font-family: "Segoe UI";
  --color-green: #079a80;
  --color-red: #f23645;
  --border-color: lightgrey;
  --theme-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

html,
body {
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;

  &.btn-primary {
    background-color: rgb(20, 90, 253);
    transition: all 0.3s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: darken($color: rgb(20, 90, 253), $amount: 10);
      }
    }
  }
}

.App {
  max-width: 95vw;
  margin: auto;

  @media screen and (min-width: 1024px) {
    max-width: 75vw;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
