:root {
  font-family: "Segoe UI";
  --color-green: #079a80;
  --color-red: #f23645;
  --theme-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  all: unset;
  cursor: pointer;
}

.App {
  @media screen and (min-width: 768px) {
    max-width: 75vw;
    margin: auto;
  }
}
